name: Release on main and deploy docs frontend
on:
  push:
    branches: [ "develop" ]
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  update_main_branch:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository on develop
        uses: actions/checkout@v4
        with:
          ref: develop
          path: .

      - name: Start SSH agent
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.DOCS_DEPLOY_KEY }}

      - name: Configure git
        run: |
          git config --global user.email "7last.swe@gmail.com"
          git config --global user.name "github-actions"

      - name: Cleanup files
        run: |
          rm -rf ./0_template
          rm -rf ./images
          rm aspell_check.sh
          rm wordlist.txt
          rm -rf ./scripts

      - name: Cleanup non pdf files
        run: |
          variables="variables.tex"
          pdfs=$(find ./* -type f -name "*.pdf")
          for file in $pdfs; do
            dir=$(dirname $file)
            basename=$(basename $file)
            new_filename=$(echo $basename | sed 's/\(_v[[:digit:]]\+.[[:digit:]]\+\)\{0,1\}.pdf//g')

            version=""
            if [ -f $dir/$variables ]; then
              version=$(cat $dir/$variables | gawk 'match($0, /Version\{(.*)\}/, a) {print a[1]}')
              if [ ! -z $version ]; then # if version is not empy
                new_filename=$new_filename"_"$version
              fi
            fi

            dst="$dir/../$new_filename.pdf"
            echo "Moving $file to $dst"
            mv $file $dst
            rm -rf $(dirname $file)
          done

      - name: If no changes, exit with success
        run: |
          [ -z "$(git diff)" ] && exit 0

      - name: git add
        run: git add .

      - name: git commit
        env:
          COMMIT_MESSAGE: "${{ github.event.head_commit.message }}"
        run: git commit -m "[bot] $COMMIT_MESSAGE"

      - name: git push
        run: |
          git remote set-url origin git@github.com:7Last/docs.git
          git push -f origin develop:main

  deploy_docs_frontend:
    runs-on: ubuntu-latest
    env:
      GITHUBIO_DEPLOY_KEY: ${{ secrets.GITHUBIO_DEPLOY_KEY }}
    needs: update_main_branch

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '21.7.0'

      - name: Configure git
        run: |
          git config --global user.email "7last.swe@gmail.com"
          git config --global user.name "bot@7last"

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          repository: 7Last/7Last.github.io
          ssh-key: ${{ secrets.GITHUBIO_DEPLOY_KEY }}
          path: .
          ref: main

      - name: Fetch docs submodule
        run: git submodule update --init --force --remote

      - name: Install requirements
        run: pip3 install -r ./scripts/requirements.txt

      - name: Generate docs
        run: python3 ./scripts/generate_docs.py

      - name: If no changes, exit with success
        run: |
          [ -z "$(git diff)" ] && exit 0

      - name: Push updates on main
        run: |
          git add .
          git commit -m "[BOT] Update docs"
          git remote set-url origin git@github.com:7Last/7Last.github.io.git
          git push origin main

      - name: Install dependencies
        run: npm install

      - name: Run deploy command
        run: USE_SSH=true npm run deploy
